@charset "UTF-8";
/*公共样式--开始*/
html, body, blockquote, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, a, img, label, input, legend, li, ol, p, pre, td, textarea, th, ul, table, tr {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, button, input, select, textarea {
  font: 14px/1.5 "Microsoft Yahei", Arial, Helvetica, sans-serif;
  color: #444443;
}

button, input, select, textarea {
  font-size: 100%;
}

input {
  padding: 0 5px;
}

textarea {
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #444443;
  cursor: pointer;
}

em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea, button {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix, .col-container {
  zoom: 1;
}

.clearfix:after, .col-container:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right !important;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.borderRadius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

/*公共样式--结束*/
/*bootstrap版适配*/
.col-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .col-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .col-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .col-container {
    width: 1170px;
  }
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}
/*旋转效果*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
.fade {
  transform: translateY(2em);
  -webkit-transform: translateY(2em);
  opacity: 0;
  filter: Alpha(opacity=0);
}

.fadesin {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  transition: all 1s 0.2s;
  filter: Alpha(opacity=100);
}

.pdg10 {
  padding: 0 10px;
}

ul, ol {
  list-style: none;
  padding-inline-start: 0;
}

img {
  border: none;
  vertical-align: middle;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #444443;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pdg10 {
  padding: 0 10px;
}

/* 顶部导航CSS--开始 */
.topbar {
  height: 27px;
  background-color: black;
}
.topbar a, .topbar em {
  font-size: 14px;
  line-height: 27px;
  font-family: "微软雅黑";
  color: white;
}
.topbar a:hover {
  color: red;
}

.nav {
  height: 100px;
  border-bottom:2px solid #444443;
}
.nav .logo img {
  width: 200px;
  height: 54px;
  margin-top: 23px;
}
.nav .navright {
  margin-top: 24px;
}
.nav .navright .menu > li {
  float: left;
  height: 76px;
  margin: 0 5px;
  position: relative;
}
.nav .navright .menu > li a {
  font-size: 18px;
  line-height: 76px;
  padding: 0 10px;
}
.nav .navright .menu > li:hover {
  border-bottom: 2px solid red;
}
.nav .navright .menu > li:hover > a {
  color: red;
}
.nav .navright .menu > li:hover .sub-menu {
  display: block;
}
.nav .navright .menu .arctive {
  border-bottom: 2px solid red;
}
.nav .navright .menu .arctive > a {
  color: red;
}
.nav .navright .menu .sub-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: #e6e6e6;
  border-bottom: 2px solid #333;
  z-index: 10;
}
.nav .navright .menu .sub-menu > li {
  white-space: nowrap;
  height: 36px;
}
.nav .navright .menu .sub-menu > li > a {
  font-size: 18px;
  line-height: 36px;
  padding: 0 10px;
}
.nav .navright .menu .sub-menu > li:hover {
  background-color: red;
}
.nav .navright .menu .sub-menu > li:hover > a {
  color: white;
}

/* 顶部导航CSS--结束 */
/* 页脚CSS--开始 */
.footer .f-top {
  height: 180px;
  background-color: #222;
  color: #fff;
}
.footer .f-top .f-nav, .footer .f-top .f-call {
  height: 100px;
  margin-top: 40px;
}
.footer .f-top .f-nav p {
  margin-bottom: 0;
}
.footer .f-top .f-nav p a {
  color: #fff;
}
.footer .f-top .f-nav p a:hover {
  color: #ff4351;
}
.footer .f-top .f-call {
  padding-left: 170px;
  border-left: 1px solid #eee;
  background: url(../images/img/icon_call.png) 50px center no-repeat;
  text-align: center;
}
.footer .f-top .f-call span {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}
.footer .f-bottom {
  height: 120px;
}
.footer .f-bottom .f-nav {
  height: 40px;
  text-align: center;
}
.footer .f-bottom .f-nav a {
  line-height: 60px;
}
.footer .f-bottom .f-nav a:hover {
  color: #ff4351;
}
.footer .f-bottom p {
  text-align: center;
  margin-top: 15px;
}

/* 页脚CSS--结束 */
.backTop_Z {
  display: block;
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 60px;
  height: 60px;
  background: transparent url(../images/img/back_top_Z.png) no-repeat center;
  outline: 0;
  opacity: .9;
  filter: alpha(opacity=90);
  border-radius: 8px;
  z-index: 50;
}

/*-----侧栏------*/
.qq_onService_panel i, .qq_onService_panel em {
  font-style: normal;
}

.qq_onService_panel .sidebar2_Mo {
  position: fixed;
  right: -50px;
  top: 50%;
  margin-top: -179px;
  z-index: 10000;
}

.qq_onService_panel .sidebar2_list {
  width: 50px;
  margin-bottom: 10px;
  position: relative;
  right: 50px;
}

.qq_onService_panel .sidebar2_listT, .qq_onService_panel .sidebar2_listB {
  background-repeat: no-repeat;
  padding-left: 7px;
}

.qq_onService_panel .sidebar2_listT {
  background-position: left top;
}

.qq_onService_panel .sidebar2_listB {
  background-position: left bottom;
}

.qq_onService_panel .list_c {
  height: 7px;
}

.qq_onService_panel .ie_w {
  *width: 43px;
}

.qq_onService_panel .sidebar2_listC {
  text-align: center;
}

.qq_onService_panel .sidebar2_listC .prev_btn, .qq_onService_panel .sidebar2_listC .next_btn {
  display: inline-block;
}

.qq_onService_panel .sidebar2_listC .prev_btn {
  margin-bottom: 10px;
}

.qq_onService_panel .function_list .list {
  text-align: center;
  height: 40px;
  width: auto;
  padding: 0;
  border: 0;
  overflow: inherit;
  margin-bottom: 10px;
  position: relative;
}

.qq_onService_panel .function_list .list a {
  display: inline-block;
}

/*.function_list .list:hover .alt_c{display: block;}*/
.qq_onService_panel .list .tel_icon, .qq_onService_panel .list .qq_icon, .qq_onService_panel .list .wx_icon, .qq_onService_panel .list .edit_icon, .qq_onService_panel .list .mail_icon, .qq_onService_panel .list .map_icon {
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: 7px;
  width: 100%;
  z-index: 2;
}

.qq_onService_panel .list .tel_icon {
  background-image: url("../images/img/tel_icon.png");
  width: 26px;
  height: 26px;
}

.qq_onService_panel .list:hover .tel_icon {
  background-image: url("../images/img/tel_icon_h.png");
}

.qq_onService_panel .list .qq_icon {
  background-image: url("../images/img/qq_icon.png");
  width: 25px;
  height: 25px;
}

.qq_onService_panel .list:hover .qq_icon {
  background-image: url("../images/img/qq_icon_h.png");
}

.qq_onService_panel .list .wx_icon {
  background-image: url("../images/img/wx_icon.png");
  width: 30px;
  height: 23px;
}

.qq_onService_panel .list:hover .wx_icon {
  background-image: url("../images/img/wx_icon_h.png");
}

.qq_onService_panel .list .edit_icon {
  background-image: url("../images/img/edit_icon.png");
  width: 25px;
  height: 25px;
}

.qq_onService_panel .list:hover .edit_icon {
  background-image: url("../images/img/edit_icon_h.png");
}

.qq_onService_panel .list .mail_icon {
  background-image: url("../images/img/mail_icon.png");
  width: 26px;
  height: 25px;
}

.qq_onService_panel .list:hover .mail_icon {
  background-image: url("../images/img/mail_icon_h.png");
}

.qq_onService_panel .list .map_icon {
  background-image: url("../images/img/map_icon.png");
  width: 26px;
  height: 25px;
}

.qq_onService_panel .list:hover .map_icon {
  background-image: url("../images/img/map_icon_h.png");
}

.qq_onService_panel .list .record_icon {
  background-image: url("../images/img/record_icon.png");
  width: 30px;
  height: 25px;
}

.qq_onService_panel .list:hover .record_icon {
  background-image: url("../images/img/record_icon_h.png");
}

.qq_onService_panel .sidebar2_state {
  text-align: center;
  position: relative;
  left: -50px;
}

.qq_onService_panel .sidebar2_state a {
  display: inline-block;
  width: 32px;
  height: 32px;
}

/*.alt_c{display: none;}*/
/* 联系我们 */
.qq_onService_panel .lxwm_tel {
  width: 178px;
  position: absolute;
  right: -178px;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.qq_onService_panel .lxwm_c .lxwm_tit {
  padding: 0 20px;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-size: 18px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.qq_onService_panel .lxwm_c .lxwm_list {
  padding: 20px 20px 1px;
}

.qq_onService_panel .lxwm_c .lxwm_list li {
  background: url("../images/img/tel_border.png") no-repeat;
  margin-bottom: 20px;
  width: 139px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}

/* 联系方式 */
.qq_onService_panel .lxfs_qq {
  width: 200px;
  overflow: hidden;
  position: absolute;
  right: -200px;
  top: -50px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.qq_onService_panel .lxfs_c {
  width: 217px;
  overflow: hidden;
  /* overflow-y:auto; overflow-x:hidden;max-height:236px;*/
}

.qq_onService_panel .lxfs_list {
  padding: 20px 15px 0 0;
  min-height: 107px;
}

.qq_onService_panel .lxfs_list li {
  margin-bottom: 20px;
}

.qq_onService_panel .lxfs_list li em {
  display: block;
  float: left;
  text-align: right;
  width: 77px;
  overflow: hidden;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}

.qq_onService_panel .lxfs_list li a {
  width: 102px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

/* 微信扫码 */
.qq_onService_panel .wx_scan {
  width: 200px;
  position: absolute;
  right: -200px;
  top: -80px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.qq_onService_panel .wx_scan_c {
  text-align: center;
  padding-top: 15px;
}

.qq_onService_panel .wx_scan_c .pic {
  margin-bottom: 5px;
  display: block;
  height: auto;
  padding-bottom: 10px;
}

.qq_onService_panel .wx_scan_c p {
  padding-bottom: 10px;
}

/* 说明文字 */
.qq_onService_panel .explain_text {
  width: 106px;
  position: absolute;
  right: -106px;
  top: -2px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.qq_onService_panel .explain_c a {
  font-size: 16px;
  padding: 5px 0;
}

/* 联系我们 */
.qq_onService_panel .record_tel {
  width: 240px;
  position: absolute;
  right: -178px;
  top: -250px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.qq_onService_panel .record_c .record_tit {
  padding: 0 20px;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-size: 18px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.qq_onService_panel .record_c .record_info {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.qq_onService_panel .record_c .record_info a {
  float: right;
  background: url("../images/img/del_list.png") no-repeat left center;
  padding-left: 18px;
}

.qq_onService_panel .record_c .record_info em {
  float: left;
}

.qq_onService_panel .record_c .record_scroll {
  max-height: 300px;
  overflow-y: auto;
}

.qq_onService_panel .record_c .record_list {
  padding: 10px 10px 5px;
}

.qq_onService_panel .record_c .record_list li {
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  padding: 0 0 5px 60px;
}

.qq_onService_panel .record_c .record_list li .pic {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 46px;
}

.qq_onService_panel .record_c .record_list li .pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.qq_onService_panel .record_c .record_list li .record_list_info {
  text-align: left;
}

.qq_onService_panel .record_c .record_list li .record_list_info h2 {
  font-size: 14px;
  font-weight: normal;
  max-height: 40px;
  line-height: 20px;
  margin-bottom: 5px;
}

.qq_onService_panel .record_c .record_list li .record_list_info p {
  margin-bottom: 5px;
}

.qq_onService_panel .record_c .record_list li .record_list_info p a {
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 80px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.qq_onService_panel .record_c .record_btn {
  padding: 0 10px;
}

.qq_onService_panel .record_c .record_btn a {
  display: block;
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.qq_onService_panel .sidebar2_listT, .qq_onService_panel .sidebar2_listB {
  background-image: url("../images/img/botder_img.png");
}

.qq_onService_panel .list_c, .qq_onService_panel .alt_bg, .sidebar2_listC {
  background: #C1BFC0;
}

.qq_onService_panel .sidebar2_state a {
  background-image: url("../images/img/hide_btn.png");
}

.qq_onService_panel .sidebar2_state a.cur {
  background-image: url("../images/img/show_btn.png");
}

.qq_onService_panel .lxwm_c .lxwm_tit {
  color: #eee;
  border-bottom-color: #CFCDCE;
  margin: 0;
}

.qq_onService_panel .lxwm_c .lxwm_list li {
  color: #fff;
}

.qq_onService_panel .lxfs_list li {
  color: #fff;
}

.qq_onService_panel .lxfs_list li a {
  background: url("../images/img/qq_btn.png");
}

.qq_onService_panel .explain_c a {
  color: #fff;
}

.qq_onService_panel .wx_scan_c p {
  color: #fff;
}

/* 轮播图CSS--开始 */
.banner .swiper-container img {
  max-height: 600px;
  width: 100%;
}

/* 轮播图CSS--结束 */
/* 我们的服务CSS--开始 */
.md-body {
  height: 527px;
}
.md-body .md-top {
  height: 146px;
  padding: 20px;
}
.md-body .md-top .md-title {
  margin: 20px auto 0 auto;
}
.md-body .md-top .md-title b, .md-body .md-top .md-title p {
  color: #333333;
  font-family: 微软雅黑;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.md-body .md-top .md-title b {
  display: block;
  font-size: 30px;
  font-weight: normal;
}
.md-body .md-top .md-title p {
  font-size: 26px;
}
.md-body .md-bottom {
  width: 100%;
  _height: 312px;
  _margin: 0 20px;
  _overflow: hidden;
  _position: relative;
}
.md-body .md-bottom .md-content {
  width: 100%;
  height: 326px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.md-body .md-bottom .md-content ul {
  position: absolute;
  left: 0px;
  _width: 1800px;
}
.md-body .md-bottom .md-content ul li {
  width: 300px;
  overflow: hidden;
  float: left;
}
.md-body .md-bottom .md-content ul li .inner {
  border: 1px solid #ededed;
  padding: 26px 0 20px 0;
  margin-right: 10px;
  _position: relative;
}
.md-body .md-bottom .md-content ul li .inner .pics {
  overflow: hidden;
  font-size: 0;
  display: block;
  text-align: center;
}
.md-body .md-bottom .md-content ul li .inner .pics .pic {
  width: 117px;
  height: 114px;
}
.md-body .md-bottom .md-content ul li .pic-attr {
  padding: 0 10px;
}
.md-body .md-bottom .md-content ul li .pic-attr .pic-title {
  font-weight: 700;
  overflow: hidden;
  _height: 24px;
  font-size: 14px;
  text-align: center;
  background: url(../images/img/zs_s.png) center bottom no-repeat;
  padding: 20px 0 10px 0;
  margin-bottom: 15px;
}
.md-body .md-bottom .md-content ul li .pic-attr .pic-title a {
  color: #555;
  font-size: 18px;
}
.md-body .md-bottom .md-content ul li .pic-attr .pic-intro {
  height: 78px;
  line-height: 24px;
  word-break: normal;
  overflow: hidden;
  word-wrap: break-word;
  color: #777;
  font-size: 14px;
  text-align: center;
}
.md-body .md-bottom .md-content ul li .pic-attr .pic-intro p {
  margin: 0;
}

/* 我们的服务CSS--结束 */
/* 关于我们CSS--开始 */
.gywm {
  background-color: #fafafa;
  height: 580px;
}
.gywm .md-body .md-bottom {
  overflow: visible;
}
.gywm .md-body .md-bottom .md-content {
  width: auto;
  height: 400px !important;
  position: absolute;
  margin: 0;
  padding: 0 15px 15px 15px;
}
.gywm .md-body .md-bottom .md-content .gyc-title {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 5px 10px 0;
  line-height: 38px;
  border-bottom: 2px solid red;
  margin-bottom: 15px;
}
.gywm .md-body .md-bottom .md-content .gy-content {
  font-family: 微软雅黑;
  font-size: 14px;
  color: #000;
  line-height: 1.9;
}
.gywm .md-body .md-bottom .md-content a {
  display: block;
  height: 45px;
  width: 145px;
  margin: 10px auto 0 auto;
  background: url(../images/img/show.png) center no-repeat;
  z-index: 10;
}
.gywm .md-body .md-bottom .md-content .gy-img {
  height: 400px;
  width: 100%;
  padding: 0 10px;
  background: url(../images/g_logo.jpg) center center no-repeat;
}

/* 关于我们CSS--结束 */
/* -CC-AD CSS--开始 */
.cc-ad {
  height: 249px;
  background: url(../images/img/c_bar.png) center top no-repeat;
}
.cc-ad li {
  _float: left;
  _width: 23%;
}
.cc-ad li .cc-ads {
  height: 115px;
  color: white;
  margin-top: 40px;
  padding: 25px 2px;
  border: 2px solid rgba(255, 255, 255, 0);
}
.cc-ad li .cc-ads:hover {
  border: 2px solid red;
  transition-property: border-color,background-color,color;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.cc-ad li .cc-ads .cc-title {
  font-weight: 700;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  background: url(../images/img/ico01.png) left center no-repeat;
  text-align: center;
  margin: 0 0 15px 30px;
}
.cc-ad li .cc-ads .cc-title a {
  font-size: 18px;
  color: white;
}
.cc-ad li .cc-ads .cc-intro {
  word-break: normal;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  height: 26px;
}

/* -CC-AD CSS--结束 */
/* 服务案例CSS--开始 */
.s-anli > div {
  padding-left: 0;
  padding-right: 0;
}
.s-anli .md-body {
  height: auto;
}
.s-anli .md-body .md-top p {
  font-weight: 600;
}
.s-anli .md-body .md-bottom {
  height: 1700px;
}
.s-anli .md-body .md-bottom .md-content {
  height: 100%;
}
.s-anli .md-body .md-bottom .md-content .row3, .s-anli .md-body .md-bottom .md-content .row6, .s-anli .md-body .md-bottom .md-content .row9 {
  height: 40px;
}
.s-anli .md-body .md-bottom .md-content .row3 .hr, .s-anli .md-body .md-bottom .md-content .row6 .hr, .s-anli .md-body .md-bottom .md-content .row9 .hr {
  height: 100%;
}
.s-anli .md-body .md-bottom .md-content ul {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.s-anli .md-body .md-bottom .md-content li {
  width: 100%;
  margin-bottom: 10px;
}
.s-anli .md-body .md-bottom .md-content li > div {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.s-anli .md-body .md-bottom .md-content li > div > div {
  padding-left: 0;
  padding-right: 0;
}
.s-anli .md-body .md-bottom .md-content li hr {
  border-top: 1px solid #ededed;
}
.s-anli .md-body .md-bottom .md-content li .row1-l {
  padding-right: 15px;
}
.s-anli .md-body .md-bottom .md-content li .anli-left, .s-anli .md-body .md-bottom .md-content li .anli-right {
  height: 180px;
  text-align: center;
}
.s-anli .md-body .md-bottom .md-content li .anli-left {
  background-color: #f1c232;
}
.s-anli .md-body .md-bottom .md-content li .anli-left {
  padding: 40px 0;
}
.s-anli .md-body .md-bottom .md-content li .anli-left h3 {
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
}
.s-anli .md-body .md-bottom .md-content li .anli-left p {
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
}
.s-anli .md-body .md-bottom .md-content li .anli-right, .s-anli .md-body .md-bottom .md-content li .anli-list {
  _width: 100%;
}
.s-anli .md-body .md-bottom .md-content li .anli-right > div, .s-anli .md-body .md-bottom .md-content li .anli-list > div {
  padding: 0;
}
.s-anli .md-body .md-bottom .md-content li .anli-right > div > div, .s-anli .md-body .md-bottom .md-content li .anli-list > div > div {
  height: 180px;
  padding: 0 15px 0 0;
}
.s-anli .md-body .md-bottom .md-content li .anli-right > div div.after, .s-anli .md-body .md-bottom .md-content li .anli-list > div div.after {
  padding-right: 0;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img {
  position: relative;
  height: 100%;
  border: 1px solid #efefef;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img img {
  width: 100%;
  height: 100%;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img .anli-list-hover {
  transition: all .35s ease;
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img .anli-list-hover .hover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: .5;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img .anli-list-hover p {
  position: absolute;
  width: 100%;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: 微软雅黑;
  height: 180px;
  line-height: 180px;
  text-align: center;
  z-index: 2;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img .anli-list-hover p a, .s-anli .md-body .md-bottom .md-content .anli-list-img .anli-list-hover p a:hover {
  color: #ffffff;
}
.s-anli .md-body .md-bottom .md-content .anli-list-img:hover .anli-list-hover {
  top: 0;
}

/* 服务案例CSS--结束 */
/* 团队CSS--开始 */
.ad-team {
  width: 100%;
  height: 588px;
  background: url(../images/img/td_bg.png) center center no-repeat;
}
.ad-team .md-body {
  height: 588px;
}
.ad-team .md-body .md-top {
  height: 234px;
}
.ad-team .md-body .md-top .md-title b, .ad-team .md-body .md-top .md-title p {
  color: #fff;
}
.ad-team .md-body .md-top .description {
  word-wrap: break-word;
  padding: 20px 20px 0 20px;
  text-align: center;
  color: #FFFFFF;
  font-family: 微软雅黑;
  font-size: 14px;
  line-height: 2;
}
.ad-team .md-body .md-top .description p {
  margin-bottom: 0;
}
.ad-team .md-body .md-bottom {
  height: 354px;
}
.ad-team .md-body .md-bottom .td-list {
  width: 100%;
}
.ad-team .md-body .md-bottom .td-list li {
  width: 25%;
  height: 312px;
  padding-right: 10px;
  float: left;
}
.ad-team .md-body .md-bottom .td-list li > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff url(../images/tuandui/bg.jpg) top center no-repeat;
}
.ad-team .md-body .md-bottom .td-list li > div .td-item {
  height: 68px;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #555555;
  bottom: 0;
}
.ad-team .md-body .md-bottom .td-list li > div .td-item a {
  color: #555555;
}
.ad-team .md-body .md-bottom .td-list li .td-list01 {
  background-image: url(../images/tuandui/tdren_01.jpg);
}
.ad-team .md-body .md-bottom .td-list li .td-list02 {
  background-image: url(../images/tuandui/tdren_02.jpg);
}
.ad-team .md-body .md-bottom .td-list li .td-list03 {
  background-image: url(../images/tuandui/tdren_03.jpg);
}
.ad-team .md-body .md-bottom .td-list li .td-list04 {
  background-image: url(../images/tuandui/tdren_04.jpg);
}
.ad-team .md-body .md-bottom .td-list li:hover > div {
  background-color: #ff4351;
}
.ad-team .md-body .md-bottom .td-list li:hover > div .td-item {
  color: #fff;
}
.ad-team .md-body .md-bottom .td-list li:hover > div a {
  color: #fff;
}
.ad-team .md-body .md-bottom .td-list .after {
  padding-right: 0;
}

/* 团队CSS--结束 */
/* 联系我们CSS--开始 */
.contact {
  height: 438px;
}
.contact .md-body {
  height: 100%;
}
.contact .md-title {
  width: 35%;
  border-bottom: 2px solid #ff4351;
}
.contact .md-bottom {
  height: 240px;
}
.contact .md-bottom .md-content {
  height: 100%;
}
.contact .md-bottom .md-content > div {
  text-align: center;
}
.contact .md-bottom .md-content .allmap {
  width: 100%;
  height: 206px;
}
.contact .md-bottom .md-content .c-ewm {
  border: 2px solid #ccc;
}
.contact .md-bottom .md-content .c-ewm:hover {
  border-color: #ff4351;
}

/* 联系我们CSS--结束 */
